

{% block content %}

    {% if validlink %}
    <p>Porfavor ingrese su nueva contraseña.</p>
    <form action="" method="POST">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">Nueva Contraseña:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirmar Contraseña:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Cambiar Contraseña"></td>
            </tr>
        </table>
    </form>
    {% else %}
        <h1>Cambio de Contraseña Fallido.</h1>
        <p>el enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se ha utilizado, solicite un nuevo restablecimiento de contraseña.</p>
    {% endif %}

{% endblock %}