<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <link href="css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Transcend</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!--css de formulario-->

    <style>
        * {font-family:Arial;}
     
        #formulario {width:290px;}
        #formulario>div {margin-bottom:2px;}
        #formulario>div:last-child {text-align:center;margin-top:20px;}
        #formulario input {text-align:right;}
        #resultado {text-align:center;margin-top:10px;padding:10px 0;}
     
        label {width:120px;display:inline-block;}
     
        .red {
            color:red;
            border:1px solid red;
            background-color: #fff2f2;
        }
        .green {
            color:green;
            border:1px solid green;
            font-weight:bold;
            background-color: #d9ffd9;
        }
        
     
        </style>
    

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo1.png" alt="Homepage">
            </a>
        </div> <!-- end header-logo -->

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>project exercise</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a href="http://127.0.0.1:8000/accounts/login/">Adminstrador </a></li>
                    <li class="current"><a href="calcular peso.html" >Calcular peso ideal</a></li>
                    <li class="current"><a href="mapa.html" >Ayuda </a></li>
                    <li class="current"><a href="formulario.html" >Formulario</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Contacto</a></li>
                </ul>
    
                <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-dribbble"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=top>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h1>
                Calcula Tu Peso ideal.
                </h1>

                
            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll" href="#about">Peso ideal<span>Calcular Peso</span></a></li>
            <li><a  class="smoothscroll" href="#contact">Contacto<span>Te Esperamos</span></a></li>
        </ul> <!-- end home-sidelinks -->

        <ul class="home-social">
            <li class="home-social-title">Follow Us</li>
            <li><a href="#0">
                <i class="fab fa-facebook"></i>
                <span class="home-social-text">Facebook</span>
            </a></li>
            <li><a href="#0">
                <i class="fab fa-twitter"></i>
                <span class="home-social-text">Twitter</span>
            </a></li>
            
        </ul> <!-- end home-social -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll Down</span>
            <span class="home-scroll__icon"></span>
        </a> <!-- end home-scroll -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Calcula tu peso</h3>
                <h1 class="display-1">Ingresa tus datos y veras automaticamente cuantos kilitos de mas llevas contigo.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <center>
                    <fieldset>
                    <h1 id="titulo2">Peso recomendado</h1>
             
                        <form id="formulario">
                        <div>
                        <label>Altura (cm)</label><input type="number" min="1" max="300" name="altura">
                        </div>
                        <div>
                        <label>Edad</label><input type="number" min="1" max="120" name="edad">
                        </div>
                        <div>
                        <label >Sexo</label><input type="radio" name="sexo" value="M" checked>Mujer
                        <input type="radio" name="sexo" value="H">Hombre
                        </div>
                        <div>
                        <label>Peso (kg)</label><input type="number" min="1" max="300" name="peso">
                        </div>
             
                        <div id="resultado"></div>
             
                            <div>
                        <input type="submit" value="Calcular">
                        <a href="index.html">Volver Atrás</a>
                        </div>
             
                    </form></fieldset >
                </center>
                
            </div>
        </div> <!-- end about-desc -->

        

    </section> <!-- end s-about -->

    


    


  
    

    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">Contactanos</h3>
                <h1 class="display-1 display-1--light">Revista online con código internacional de identificación de publicaciones seriadas ISSN 2444-2895 y recogida en la Biblioteca Nacional de España. .</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row">

            <div class="col-full contact-main" data-aos="fade-up">
                <p>
                <a href="mailto:#0" class="contact-email">Skatico.xdd@gmail.com</a>
                <span class="contact-number">(+56)9 7952 6756  /  (+56)9 9284 7345</span>
                </p>
            </div> <!-- end contact-main -->

        </div> <!-- end row -->

        <div class="row">

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Ubicacion</h3>

                <p class="contact-address">
                    AV.Pajarito <br>
                    Pasaje El Barto<br>
                    #8723
                </p>
            </div> <!-- end contact-secondary -->

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Siguenos</h3>

                <ul class="contact-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-dribbble"></i></a>
                    </li>
                </ul> <!-- end contact-social -->

                <div class="contact-subscribe">
                    <form id="mc-form" class="group mc-form" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div> <!-- end contact-subscribe -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end row -->

        <div class="row">
            <div class="col-full cl-copyright">
                <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
            </div>
        </div>

        <div class="cl-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
        </div>

    </section> <!-- end s-contact -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->

    


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">            
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="js/funcionesj.js"></script>

</body>
<script>
    (function(){
        // generamos un evento para cuando se haga submit en el formulario
        document.querySelector("#formulario").addEventListener("submit",calcular);
     
        // función que realiza los calculos
        function calcular(e) {
     
            // cancelamos el evento
            e.preventDefault();
     
            // obtenemos los valores del formulario
            var altura=document.querySelector("#formulario input[name=altura]").value;
            var edad=document.querySelector("#formulario input[name=edad]").value;
            var sexo=document.querySelector("#formulario input[name=sexo]:checked").value;
            var peso=document.querySelector("#formulario input[name=peso]").value;
     
            var resultado=document.getElementById("resultado");
     
            if(parseInt(altura)>0 && parseInt(edad)>0 && sexo && parseInt(peso)>0) {
     
                // buscamos el peso idoneo
                var pesoIdeal=50+((altura-150)/4)*3+(edad-20)/4
                if(sexo=="M") {
                    pesoIdeal=pesoIdeal*0.9;
                }
     
                resultado.classList.remove("red");
                resultado.classList.add("green");
     
                // mostramos el resultado en relación a nuestro peso
                var respuesta="";
                if(pesoIdeal>peso) {
                    respuesta="Tu peso ideal seria: "+pesoIdeal+" kilos";
                    respuesta+="<br>Te faltan: "+(pesoIdeal-peso).toFixed(2)+" kilos";
                }else if(pesoIdeal<peso){
                    respuesta="Tu peso ideal seria: "+pesoIdeal+" kilos";
                    respuesta+="<br>Se recomienda: "+(peso-pesoIdeal).toFixed(2)+" kilos";
                }else{
                    respuesta="Estas en tu peso ideal!!!";
                }
     
                resultado.innerHTML=respuesta;
            }else{
     
                // mostramos un mensaje de error si alguno de los valores no es correcto
                resultado.classList.remove("green");
                resultado.classList.add("red");
                resultado.innerHTML="Falta ingresar datos para mostrar calculo";
            }
        }
    })()
    
    
    
        
    
    
    </script>

</html>